
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #hamMap {
        height: 400px;
        width: 100%;
    }
    #indirgenmisMap {
        height: 400px;
        width: 100%;
    }
    #hamAramaMap {
        height: 400px;
        width: 100%;
    }
    #indirgenmisAramaMap {
        height: 400px;
        width: 100%;
    }
</style>


<div class="row" style="margin-top: 70px">
    <div class="col-md-6">
        <div class="form-group">
            <div class="alert-warning" id="fileUploadLoading" style="display: none">
                <p> <i class="	glyphicon glyphicon-refresh"></i>  <strong>Yükleniyor </strong> </p>
            </div>
            @using (Html.BeginForm("getLatLong", "Home", FormMethod.Post, new { id = "dosyaYukle", enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <b>Dosya Seçin </b>
                    <input style="margin-top: 15px" id="uploadFile" name="uploadFile" class="form-control" type="file">
                </div>
                <div class="form-group form-inline">
                    <input type="submit" id="btnFileUpload" name="btnFileUpload" value="Dosyadan Oku" class="btn btn-primary">
                    <input type="text" id="textboxTolerans" name="textboxTolerans" class="form-control" style="float:right" />
                    <b style="float: right; margin-top: 6px;margin-right: 15px">Tolerans:</b>

                </div>

            }
        </div>
    </div>
    <div class="col-md-6">
        <div class="alert alert-success" style="display: none" id="indirgemeOrani">
            
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-6" id="divHamSection" style="display: none">
        <h4 class="text-danger">Ham Veri</h4>
        <div id="hamMap"></div>
        <button class="btn btn-success" id="btnHamVeriArama" style="float: right; margin-top: 15px"> Ham veri arama</button>
        <div class="row">
            <div class="col-md-12" id="hamAramaSonucu" style="display: none">
                <h4 class="text-success">Ham Veri Arama Sonuçları</h4>
                <div id="hamAramaMap"></div>
            </div>
        </div>
    </div>

    <div class="col-md-6" id="divIndirgenmisSection" style="display: none">
        <h4 class="text-danger">İndirgenmiş Veri </h4>
        <div id="indirgenmisMap"></div>
        <button class="btn btn-success" id="btnİndirgenmisVeriArama" style="float: right; margin-top: 15px"> İndirgenmis veri arama</button>
        <div class="row">
            <div class="col-md-12" id="indirgenmisAramaSonucu" style="display: none">
                <h4 class="text-success">İndirgenmiş Veri AramaSonuçları</h4>
                <div id="indirgenmisAramaMap"></div>
            </div>
        </div>
    </div>



</div>

@section scripts
{
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6tfy97IexWdf_-9NrtJqQN2cPQvLzkgA&libraries=drawing">
    </script>

    <script src="~/Scripts/jquery.form.min.js"></script>

    <script src="~/Scripts/indexJs.js"></script>
}
