
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #hamMap {
        height: 400px;
        width: 100%;
    }
    #indirgenmisMap {
        height: 400px;
        width: 100%;
    }
</style>


<div class="row" style="margin-top: 70px">
    <div class="col-md-6">
        <div class="form-group">
            <div class="alert-warning" id="fileUploadLoading" style="display: none">
                <p> <i class="	glyphicon glyphicon-refresh"></i>  <strong>Yükleniyor </strong> </p>
            </div>
            @using (Html.BeginForm("getLatLong", "Home", FormMethod.Post, new { id = "dosyaYukle", enctype = "multipart/form-data" }))
            {
                <b>Dosya Seçin </b>
                <input style="margin-top: 15px" id="uploadFile" name="uploadFile" class="form-control" type="file">
                <input type="submit" id="btnFileUpload" name="btnFileUpload" value="Dosyadan Oku" style="margin-top: 15px" class="btn btn-primary">
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4 class="text-danger">Ham Veri</h4>
        <div id="hamMap"></div>
    </div>
    <div class="col-md-6">
        <h4 class="text-success">İndirgenmiş Veri </h4>
        <div id="indirgenmisMap"></div>
    </div>

</div>

@section scripts
{
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6tfy97IexWdf_-9NrtJqQN2cPQvLzkgA">
    </script>

    <script src="~/Scripts/jquery.form.min.js"></script>

    <script src="~/Scripts/indexJs.js"></script>
}
